{% extends '_base.html' %}

{% block content %}


    <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">سیستم مدیریت سفارشات</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="accordion">
                  <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false">
                          گروه اول
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse in collapse" style="">
                      <div class="card-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                      </div>
                    </div>
                  </div>
                  <div class="card card-danger">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                          گروه قرمز
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="card-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                      </div>
                    </div>
                  </div>
                  <div class="card card-success">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                          گروه موفق
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="card-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>


   <div class="row">
          <div class="col-10">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">جدول سفارشات اتمام رسیده</h3>

                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>کد سفارش</th>
                    <th>نام کاربر</th>
                    <th>زمان</th>
                    <th>وضعیت</th>
                    <th>دلیل</th>
                  </tr>

                  {% for order in ennded_order %}
                  <tr>
                    <td>{{ order.order_code }}</td>
                    <td>{{ order.full_name }}</td>
                    <td>{{ order.full_name }}</td>
                    <td>۱۱-۷-۲۰۱۴</td>
                    <td><span class="badge badge-success">تایید شده</span></td>
                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</td>
                  </tr>
                  {% endfor %}
{#                  <tr>#}
{#                    <td>۲۱۹</td>#}
{#                    <td>حسام</td>#}
{#                    <td>۱۱-۷-۲۰۱۴</td>#}
{#                    <td><span class="badge bg-danger">در حال بررسی</span></td>#}
{#                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <td>۶۵۷</td>#}
{#                    <td>رضا</td>#}
{#                    <td>۱۱-۷-۲۰۱۴</td>#}
{#                    <td><span class="badge badge-primary">تایید شده</span></td>#}
{#                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <td>۱۷۵</td>#}
{#                    <td>پرهام</td>#}
{#                    <td>۱۱-۷-۲۰۱۴</td>#}
{#                    <td><span class="badge badge-danger">رد شده</span></td>#}
{#                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</td>#}
{#                  </tr>#}
                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

{##}
{#    <div class="list-group">#}
{#      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">#}
{#        <div class="d-flex w-100 justify-content-between">#}
{#          <h5 class="mb-1">List group item heading</h5>#}
{#          <small>3 days ago</small>#}
{#        </div>#}
{#        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>#}
{#        <small>Donec id elit non mi porta.</small>#}
{#      </a>#}
{#      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">#}
{#        <div class="d-flex w-100 justify-content-between">#}
{#          <h5 class="mb-1">List group item heading</h5>#}
{#          <small class="text-muted">3 days ago</small>#}
{#        </div>#}
{#        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>#}
{#        <small class="text-muted">Donec id elit non mi porta.</small>#}
{#      </a>#}
{#      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">#}
{#        <div class="d-flex w-100 justify-content-between">#}
{#          <h5 class="mb-1">List group item heading</h5>#}
{#          <small class="text-muted">3 days ago</small>#}
{#        </div>#}
{#        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>#}
{#        <small class="text-muted">Donec id elit non mi porta.</small>#}
{#      </a>#}
{#    </div>#}

{% endblock %}